sudo: required

git:
  depth: false

services:
- docker

env:
  global:
    # DOCKER_PASSWORD
    - secure: "Pn8gxL4qpHUqEqfL7G01deKt/1UQI2w6AiGUTkVftDnKYWMZs7c8Ox64ORO4sRhW7gOT8yJcFBatiMkR7lkGrkIHgJLDOfW8TZR3fcShJRA4jtZiCvCpAMliTGFvmU/WHEV0ivFjM+7OhDfhrLUq+vTtSGQVFr8Z4XIKFrI/1R0OOREJSEdYYdWKaQEh6I1GG9ac92lVtlQQkldSDAByPl9dmhy2cJOhpbVJEM8MUol0umZptVKEc5+MMcJJQ+nJ+bIkRhkfnJSBJTV6mD0FSMiUz/0gN5VJ4y/PjEYXGF3nnUwb4KdJpn9jE+nkv9CpQqIVL0Ukon3cd+CcWSc7jtHGX6Eq61pt08zNZG5CRO9zm4pMikX+NZ2UwbUStNfTeSu0+bLzCpwPvJSqNRDT7ucbI73R0BXNFLe5+MpFBSQtC7omiCSpInO0omVXtC/tHza2TJeuShEvtQcHHCbkBhmPIvpMtdO+ly+qBLBGRiAKnpi0phZgCG3MqiR+YrqvQMMhBHw7rfOn578t8ArVNqkS8XM7rbNW/P/m7pU7fvkUEV1wdusL1de4oL9EfMHOk9bleuo8KePrXkcaVsBKDL44F4hlsG0Y1o1gHbnNStC3bFqAW8gSbqcRfpkWaVSpvo4jtchgvLAktiJ37Kemrh/1PkUWnGXpr0oabwrIkpY="
    - DOCKER_USERNAME: untangleengineering
      SSH_KEY: /tmp/travis-buildbot.rsa
      PACKAGE_SERVER_IP: 52.2.228.218
      PKGTOOLS_COMMIT: origin/${TRAVIS_BRANCH}
      UPLOAD: scp
  jobs:
    - REPOSITORY: buster
    - REPOSITORY: bullseye

before_install:
- echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
- docker pull untangleinc/ngfw:${REPOSITORY}-build-multiarch
- openssl aes-256-cbc -K $encrypted_c3a944c0ebdd_key -iv $encrypted_c3a944c0ebdd_iv -in .travis/buildbot.rsa.enc -out ${SSH_KEY} -d
- chmod 600 ${SSH_KEY}

script:
- docker-compose -f docker-compose.build.yml run pkgtools
- docker-compose -f docker-compose.build.yml run build
if: NOT (env(REPOSITORY) = buster AND branch = master)

notifications:
  email: false
  slack:
    rooms:
      - secure: "qLjPIhUdcOwoboqy5ou/7IxekLOW0KmihvfJu8hOtySxz1O5pTOxPTDUVRZVJKevHZzk9CXGr4v8wfIzvZN0FNLalUDSTlX2jMdq01EeGEGNCZWqD5Rx68QFdC4ot+SCfsynScFRNQWpTA6KmxzSoYQZQwc+e33qIhtRwVOb1PuGkQc9O9gyrvTrcA7GM9ResMjRysPATbT1mPhupUTfbvB76neZBXaBhsKs+RebQJzt/De91eG1CN9Gmszh4QJblf5ScyUDJjupr2mcHXaJ90NMd99KTogkBmVF5A9HSiZJVCV7e/d4LXFgEpVcjpHYh/TZoSspY4jVetTgdkmqHzy79wLWSO2Rx3UZhdU89z69DoF6Zskj+Ijmw4pr3Nci4H7G++eYhi29Kfe5YcN/M1ip6KtgSuuvkcJTc7Sowu9tiizDZhINirkxT53j8FScgFpucHCqptGjwosbfNofMMkV9RK3snj9k02tyBgx9a3OuHqi2sWmkZ7zknJCwn8hHORGok6Cy4kGV8C3+A70pQ8obDDVx76zz2VDMj/Zo2YTO2z3JWOtyzqdC7rnrBDBoOx1iezZdYfjNwXssgvt8DRPZMGUrByg3dJYYmL/IXYIu7h7liwTDzWNPuwWTgyogCGv12O1JdHr2Z4Ynft2lj1f+Z7DcCWPVDAveg3n5Lg="
    on_success: change
    on_failure: always
